{% extends 'AdminDefault/index.html.twig' %}

{% block body %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h2>Levering of Bestelling details</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>SMS Bestel Nr</th>
                <td>{{ order.smsBestelNr }}</td>
            </tr>
            <tr>
                <th>DrankStand</th>
                <td>{{ order.drankstand.naam }}</td>
            </tr>
            <tr>
                <th>Order type</th>
                <td>{{ order.ordertype.beschrijving }}</td>
            </tr>
            <tr>
                <th>SMS ontvangen</th>
                <td>{% if order.smsDateTime %}{{ order.smsDateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Toegevoegd op</th>
                <td>{% if order.createdAt %}{{ order.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Laatste Aanpassing</th>
                <td>{% if order.updatedAt %}{{ order.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Item Aangemaakt door</th>
                <td>{% if order.owner %}{{ order.owner.username }}{% endif %}</td>
            </tr>
            
        </tbody>
    </table>

	<h3>Items:</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Drank</th>
                <th>Aantal</th>
            </tr>
			{% for items in order.od %}
				<tr>
			  		<td>{{ items.drank }}</td>
			  		<td>{{ items.hoeveel }}</td>
            	</tr>
            {% endfor %}
            
        </tbody>
    </table>
<p>
{{ form_start(delete_form) }}
 <a class="btn btn-default btn-lg" href="{{ path('admin_order_edit', { 'id': order.id }) }}">
                            	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bewerken
                            </a>
 <a class="btn btn-default btn-lg" href="{{ path('admin_order_index') }}">
                            	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Terug naar overzicht
                            </a>
            
            <button type="submit" class="btn btn-default btn-lg" title="Levering of bestelling Verwijderen" data-placement="right" data-toggle="tooltip">
            	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Verwijder
            </button>
            {{ form_end(delete_form) }}
 </p>
 </div>
{% endblock %}

{% block javascripts %}  
{{ parent() }}
<script>
$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %} 