{% extends 'AdminDefault/index.html.twig' %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Nood Aanvraag ingeven</h1>

    {{ form_start(form) }}

     {{ form_row(form.ordernotes) }}
     {{ form_row(form.drankstand) }}
	 {{ form_row(form.festivaldag) }}
     

			<button type="submit" class="btn btn-default btn-lg">
            	<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Ingeven
            </button>
				 
			   

         <a class="btn btn-default btn-lg" href="{{ path('admin_nood_index') }}">
                            	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Terug naar overzicht
                            </a>
            
{{ form_end(form) }}        
    
    
    
    </div>
    
   
{% endblock %}


{% block javascripts %}  
{{ parent() }}
        {% javascripts '@AppBundle/Resources/public/js/order.js' filter='?yui_js' combine=true %}  
            <script src="{{ asset_url }}"></script>  
        {% endjavascripts %}  
{% endblock %} 
    
